@import "../utils/variables";

.explore {
  text-align: center;
  background-color: #efedeee7;
  padding: 15px;
}

.explore-button {
  input {
    border: transparent;
    border-radius: 50px;
    background-image: linear-gradient(
      to right,
      $secondary-color,
      $primary-color
    );
    color: #fff;
    padding: 25px;
    font-size: 22px;
  }
}

.fonctionnement {
  &__nav-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    margin: 10px 20px;
    box-shadow: 0 0 10px rgb(158, 156, 156);
    padding: 15px;
    cursor: pointer;
    align-items: center;
  }
  i {
    color: $primary-color;
    padding: 15px;
    align-items: center;
    justify-content: center;
  }

  h2 {
    text-align: center;
  }
}
