@import "../utils/variables";
.footer {
  flex: 1;
  flex-direction: row;

  background-color: grey;
  padding: 10px;

  &__list {
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }

  img {
    height: 25px;
    width: 150px;
  }

  a {
    color: #fff;
    list-style: none;
    text-decoration: none;
  }
  &__links {
    margin: 0.4em;
  }
  &__icons {
    margin: 15px;
    
  }
}
