@import "../utils/variables";

.header {
  text-align: center;
  &__search {
    font-size: 20px;
    background-color: lightgrey;
  }

  input {
    border: none;
    font-size:20px;
    background-color: lightgrey;
  }
  img {
    height: 45px;
    width: 250px;
    margin: 15px;
  }
  
}
