@import "../utils/variables";

.header {
  text-align: center;
  position: relative;

  &__search {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e0e3;
  }
  &__return {
    position: absolute;
    left: 2px;
    font-size: 26px;
  }

  input {
    border: none;
    font-size: 20px;
    background-color: #e2e0e3;
  }
  img {
    height: 45px;
    width: 250px;
    margin: 15px;
  }
  i {
    padding: 25px;
  }
}
