@import "../utils/variables";
.button {
  display: inline-flex;
  align-self: center;
  justify-content: center;
  padding: 20px;
  margin: 30px;
  border: transparent;
  border-radius: 50px;
  background-image: linear-gradient($secondary-color, $primary-color);
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #cecaca;
  transition: transform 300ms ease-in-out;

  &:hover {
    box-shadow: 5px 5px 5px darken($color: #cecaca, $amount: 30%);
    background-image: linear-gradient(#ff99e2, #ad80e5);
  }
  &:active {
    transform: scale(0.95);
  }
}
