@import "../utils/variables";
.button {
  display: inline-flex;
  align-self: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
  border: transparent;
  border-radius: 50px;
  background-image: linear-gradient($secondary-color, $primary-color);
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  box-shadow: 0 0 7px lighten($color: #000000, $amount: 50%);
  transition: transform 300ms ease-in-out;
  &__commande {
    @media screen and(min-width: 991px) {
      width: 75%;
      margin: 3em 0 2em 16.5em;
      align-self: center;
    }
  }
  &:active {
    transform: scale(0.95);
  }
}
