@import "../utils/variables";

.lds-ripple {
  display: flex;
  position: fixed;
  width: 100px;
  height: 100px;
}
.lds-ripple div {
  display: flex;
  position: fixed;
  border: 6px solid $primary-color;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 3s cubic-bezier(0, 0.2, 0.8, 1) 3s;

  margin-left: 50%;
  margin-top: 50%;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 56px;
    left: 56px;
    width: 0;
    height: 0;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 92px;
    height: 92px;
  }
}
